
<div class="menu" id="menu">
    <ul>
        <li><a href="/" >Home</a></li>
        <li><a href="/curriculum" >Curriculum - About me </a></li>
        <li><a href="/blog/" >Blog</a>
            <ul class="blog_list">
            {% for post in site.posts %}
                <li>
                    <a style="display:flex" href="{{post.url}}" >
                        {% if forloop.index==1 %}<img src="/assets/img/new04.gif"/>{% endif %} {{post.date | date: "%d.%m.%y"}} {{post.title}} </a>
                </li>
            {% endfor %}
            </ul>
        </li>
        <li>
            <a href="mailto:stefano@stefanogavioli.eu" title="Send an email!"><img src="/assets/img/email.gif"/></a>
        </li>
    </ul>
</div>