.gif.heart{
    background-image: url(/assets/img/0heart.gif);
    height: 32px;
    width: 32px;
    margin: 0px 10px;
  }
  
  .gif.euflag{
    background-image: url(/assets/img/Europe-021.gif);
    height: 29px;
    width: 40px;
    display: inline;
  }
  
  .gif.underconstruction{
    background-image: url(/assets/img/underconstruction.gif);
    height: 105px;
    width: 356px;
  }
  
  .gif.email{
    background-image: url(/assets/img/email.gif);
    width: 107px ;
    height: 35px ;
  }
  
  .gif.confused{
    background-image: url(/assets/img/confused.gif);
    width: 37px ;
    height: 15px ;
  }
  
  .gif.previous{
    background-image: url(/assets/img/prev.gif);
    width: 100px ;
    height: 30px ;
  }
  
  .gif.next{
    background-image: url(/assets/img/next.gif);
    width: 100px ;
    height: 30px ;
  }
  
  .gif.new{
    background-image: url(/assets/img/new04.gif);
    width: 32px ;
    height: 24px ;
  }
  
  .gif.eyes{
    background-image: url(/assets/img/my_eyes.gif);
    width: 24px ;
    height: 13px ;
  }

  .gif.explorer{
    background-image: url(/assets/img/explorer1.gif);
    width: 88px ;
    height: 31px ;
  }

  .gif.search{
    background-image: url(/assets/img/lens.gif);
    width: 48px ;
    height: 48px ;
  }

  .gif.sorry{
    background-image: url(/assets/img/sorry.gif);
    width: 40px ;
    height: 40px ;
  }
  .gif.plane{
    background-image: url(/assets/img/plane.gif);
    width: 300px ;
    height: 50px ;
    display:inline;
  }
  .gif.it{
    background-image: url(/assets/img/italy_gs.gif);
    background-size: 100%;
    width: 19px ;
    height: 13px ;
    display:inline-block;
  }
  .gif.uk{
    background-image: url(/assets/img/uk_gs.gif);
    background-size: 100%;
    width: 19px ;
    height: 13px ;
    display:inline-block;
  }
  .gif.garden{
    background-image: url(/assets/img/gardening2.gif);
    background-size:100%;
    width: 30px ;
    height: 30px ;
    display:inline-block;
  }
  .gif.notes{
    background-image: url(/assets/img/dancingnotes2.gif);
    background-size:100%;
    width: 68px ;
    height: 30px ;
    display:inline-block;
  }
  .gif.video{
    background-image: url(/assets/img/film_1_.gif);
    background-size:100%;
    width: 30px ;
    height: 30px ;
    display:inline-block;
  }

  .gif.planeCv{
    background-image: url(/assets/img/plane.gif);
    background-size:100%;
    width: 180px ;
    height: 30px ;
    display:inline-block;
  }

  .gif.pcboy{
    background-image: url(/assets/img/pcboy.gif);
    background-size:100%;
    width: 76px ;
    height: 70px ;
    display:inline-block;
  }

  .gif.book{
    background-image: url(/assets/img/book8.gif);
    background-size:100%;
    width: 67px ;
    height: 70px ;
    display:inline-block;
  }


  .gif.hammer{
    background-image: url(/assets/img/hammer.gif);
    background-size:100%;
    width: 81px ;
    height: 71px ;
    display:inline-block;
  }



