@media screen and (max-width: 740px) {
  .header {
    height: 50%;
    width: 100%;
    flex-direction: column;
  }

  .name {
    margin-top: 5px;
    margin-left: 0px;
  }

  .site-pic{
    height:100px;
    transform: rotate(180deg)
  }

  .name-and-pic-container{
    justify-content: flex-start;
    flex-direction: column;
    align-items:flex-start;
    width: 100%;
    height:80%;
  }

  .main{
    height:auto;
    flex-direction: column;
  }

  .menu{
    padding: 10px;
    width:auto;
    border: 0;
    height:auto;
  }
  
  .content{
    border-top: 3px solid #663300;
    overflow-y:inherit;
    width:auto;
    padding: 10px;
  }
  .responsive_image{
    background-size: 200%;
  }

  .cv_table_position{
    width:200px;
  }
  
  
  .cv_table_position_reduced{
    width:240px;
  }
  
}